@forward './global';
@forward './flex-grid';


.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .sign-in-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sign-in-button:hover {
    background-color: #1a5bb8;
  }
  
  .user-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-button:hover {
    background-color: #333;
  }
  